.simmer-card{
    height: 330px;
}
.imgSimmer{
    width: 100%;
    height: 180px;
    background-color: #ccc;
}

.titleSimmer{
    width: 85%;
    height: 25px;
    background-color: #ccc;
    border-radius: 10px;
    margin-left: 15px;
}
.pargraphSimmer{
    border-radius: 10px;
    margin-left: 15px;
}